/*!
 *
 * Copyright 2015 CREATEC(www.createcdigital.com)
 *
 */

@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
html,body{height:100%}
body,input,button,textarea,select{font-size:16px; font-family: "SimHei",Tahoma,Helvetica,Arial; color:#000;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li,dd{list-style:none}
a{color:#d30000;text-decoration:none}
a:hover,a:active{text-decoration:underline}
section,article,aside,header,footer,nav,dialog,figure,hgroup{display:block}
img{max-width:100%;}

/* loading */
body{background:#000;background:-webkit-gradient(radial,center center,120,center center,900,from(#33495e),to(#2e2329));background:-moz-radial-gradient(circle,#33495e,#2e2329)}.loader{margin:0 auto; width:480px; position: absolute; top:50%; }h1{font-family:'Actor',sans-serif;color:#FFF;font-size:16px;letter-spacing:1px;font-weight:200;text-align:center}.loader span{width:16px;height:16px;border-radius:50%;display:inline-block;position:absolute;left:50%;margin-left:-10px;-webkit-animation:3s infinite linear;-moz-animation:3s infinite linear;-o-animation:3s infinite linear}.loader span:nth-child(2){background:#e84c3d;-webkit-animation:kiri 1.2s infinite linear;-moz-animation:kiri 1.2s infinite linear;-o-animation:kiri 1.2s infinite linear}.loader span:nth-child(3){background:#f1c40f;z-index:100}.loader span:nth-child(4){background:#2fcc71;-webkit-animation:kanan 1.2s infinite linear;-moz-animation:kanan 1.2s infinite linear;-o-animation:kanan 1.2s infinite linear}@-webkit-keyframes kanan{0%{-webkit-transform:translateX(20px)}50%{-webkit-transform:translateX(-20px)}100%{-webkit-transform:translateX(20px);z-index:200}}@-moz-keyframes kanan{0%{-moz-transform:translateX(20px)}50%{-moz-transform:translateX(-20px)}100%{-moz-transform:translateX(20px);z-index:200}}@-o-keyframes kanan{0%{-o-transform:translateX(20px)}50%{-o-transform:translateX(-20px)}100%{-o-transform:translateX(20px);z-index:200}}@-webkit-keyframes kiri{0%{-webkit-transform:translateX(-20px);z-index:200}50%{-webkit-transform:translateX(20px)}100%{-webkit-transform:translateX(-20px)}}@-moz-keyframes kiri{0%{-moz-transform:translateX(-20px);z-index:200}50%{-moz-transform:translateX(20px)}100%{-moz-transform:translateX(-20px)}}@-o-keyframes kiri{0%{-o-transform:translateX(-20px);z-index:200}50%{-o-transform:translateX(20px)}100%{-o-transform:translateX(-20px)}}

/*-- home.html
====================================================== */
.swiper-container{width:480px; height:100%; background: #000000; margin: 0 auto; display: none;}     

/* p1 */
.p1 .btn-en{position: absolute; top:428px; left: 190px;}
.p1 .btn-zh{position: absolute; top:548px; left: 190px;}

/* p2 */
.p2 .area{position: absolute; top:270px; left: 60px;}
.p2 .btn-checkme{position: absolute; top:210px; left: 35px; width: 410px; }

.p2 .area1 .checkme-1{position: absolute; top:217px; left: 54px;}
.p2 .area1 .checkme-2{position: absolute; top:554px; left: 177px;}
.p2 .area1 .checkme-3{position: absolute; top:270px; left: 313px;}

.p2 .area2 .checkme-1{position: absolute; top:261px; left: 33px;}
.p2 .area2 .checkme-2{position: absolute; top:573px; left: 103px;}
.p2 .area2 .checkme-3{position: absolute; top:325px; left: 124px;}
.p2 .area2 .checkme-4{position: absolute; top:245px; left: 264px;}
.p2 .area2 .checkme-5{position: absolute; top:499px; left: 320px;}

.p2 .area3 .checkme-1{position: absolute; top:258px; left: 55px;}
.p2 .area3 .checkme-2{position: absolute; top:584px; left: 205px;}
.p2 .area3 .checkme-3{position: absolute; top:502px; left: 319px;}
.p2 .area3 .checkme-4{position: absolute; top:230px; left: 292px;}

.p2 .area4 .checkme-1{position: absolute; top:217px; left: 54px;}
.p2 .area4 .checkme-2{position: absolute; top:554px; left: 177px;}
.p2 .area4 .checkme-3{position: absolute; top:270px; left: 313px;}

.p2 .area5 .checkme-1{position: absolute; top:505px; left: 60px;}
.p2 .area5 .checkme-2{position: absolute; top:260px; left: 192px;}
.p2 .area5 .checkme-3{position: absolute; top:543px; left: 288px;}

.p2 .area6 .checkme-1{position: absolute; top:288px; left: 33px;}
.p2 .area6 .checkme-2{position: absolute; top:515px; left: 62px;}
.p2 .area6 .checkme-3{position: absolute; top:238px; left: 155px;}
.p2 .area6 .checkme-4{position: absolute; top:530px; left: 185px;}
.p2 .area6 .checkme-5{position: absolute; top:528px; left: 301px;}

.p2 .area7 .checkme-1{position: absolute; top:518px; left: 33px;}
.p2 .area7 .checkme-2{position: absolute; top:578px; left: 166px;}
.p2 .area7 .checkme-3{position: absolute; top:295px; left: 128px;}
.p2 .area7 .checkme-4{position: absolute; top:243px; left: 245px;}
.p2 .area7 .checkme-5{position: absolute; top:543px; left: 312px;}

.p2 .area8 .checkme-1{position: absolute; top:510px; left: 63px;}
.p2 .area8 .checkme-2{position: absolute; top:486px; left: 150px;}
.p2 .area8 .checkme-3{position: absolute; top:232px; left: 168px;}
.p2 .area8 .checkme-4{position: absolute; top:282px; left: 274px;}
.p2 .area8 .checkme-5{position: absolute; top:585px; left: 295px;}


/* p3 */
.p3 .btn-back{position: absolute; top:13px; left: 15px; width: 70px; height: 20px; }
.p3 .btn-prev{position: absolute; top:112px; left: 57px; z-index:9;} 
.p3 .btn-next{position: absolute; top:112px; left: 391px; z-index:9;}
.p3 .btn-goregistration{position: absolute; top:625px; left: 105px; width: 270px; height: 35px; }
.p3 .p3-swiper-container{position: absolute; top:69px; left:51px; width:404px; height:556px; z-index:-1; background-color: #fff;}

/* p3-1 */
.p3-1 .btn-back{position: absolute; top:45px; left: 15px; width: 70px; height: 20px;}
.p3-1 .btn-gosteelcase{position: absolute; top:179px; left: 85px; width: 310px; height: 60px; }
.p3-1 .btn-flowwechat{position: absolute; top:325px; left: 85px; width: 310px; height: 60px; }
.p3-1 .btn-goregister{position: absolute; top:472px; left: 85px; width: 310px; height: 60px; }
.pop-flowwechat{position: absolute; top:202px; left: 55px; width: 480px;}

/* p4 */
.p4 .btn-back{position: absolute; top:45px; left: 15px; width: 70px; height: 20px;}
.p4 .btn-ok{position: absolute; top:625px; left: 195px; width: 90px; height: 40px; background: url(../images/transparent.png) no-repeat; border: 0px solid red;}
.p4 #name{position: absolute; top:347px; left: 218px; width: 175px; height: 30px; border:0px; color:#fd6b0d; font-size: 20px;}
.p4 #company{position: absolute; top:414px; left: 218px; width: 175px; height: 30px; border:0px; color:#fd6b0d; font-size: 20px;}
.p4 #phone{position: absolute; top:482px; left: 218px; width: 175px; height: 30px; border:0px; color:#fd6b0d; font-size: 20px;}
.p4 #email{position: absolute; top:548px; left: 218px; width: 175px; height: 30px; border:0px; color:#fd6b0d; font-size: 20px;}
.p4 p{font-size: 30px; color: red; }
.p4 .name{position: absolute; top:343px; left: 415px; width: 175px; height: 30px; }
.p4 .company{position: absolute; top:414px; left: 415px; width: 175px; height: 30px; }
.p4 .phone{position: absolute; top:482px; left: 415px; width: 175px; height: 30px; }
.p4 .email{position: absolute; top:548px; left: 415px; width: 175px; height: 30px;}
.p4 iframe{width: 0px; height: 0px; display: none; border: 0px; margin: 0px; padding: 0px;}

/* p5 */
.p5 .btn-products{position: absolute; top:13px; left: 15px; width: 150px; height: 20px; }
.p5 .qr{position: absolute; top:246px; left: 157px; width: 195px; height: 195px; }